<h1>{{title}}</h1>
<div class="col-md-12">
    <button class="btn btn-success" id="add-category" ng-click="openCategoryModal()">Add Category</button>
</div>
<div class="col-md-12">
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Category Name</th>
            <th>Parent Category</th>
            <th>Description of Category</th>
            <th>Options</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="category in categories">
            <th scope="row">{{category.id}}</th>
            <td>{{category.title}}</td>
            <td>{{category.parent_category}}</td>
            <td>{{category.description}}</td>
            <td>
                <span class="glyphicon glyphicon-eye-open" ng-click="showCategory(category.id)"></span>
                <span class="glyphicon glyphicon-edit" ng-click="editCategory(category.id)"></span>
                <span class="glyphicon glyphicon-trash" ng-click="deleteCategory(category.id)"></span>
            </td>
        </tr>
        </tbody>
    </table>
</div>