<div class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close()"aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{title}}</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="category-name" class="col-sm-2 control-label">Category Name</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="category-name" placeholder="Category Name" ng-model="categoryName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="category-description" class="col-sm-2 control-label">Category Description</label>
                        <div class="col-sm-6">
                            <textarea id="category-description"  class="form-control"  placeholder="Category Description" ng-model="categoryDescription"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="parent-category" class="col-sm-2 control-label">Parent Category</label>
                        <div class="col-sm-6">
                            <select id="parent-category" class="form-control" ng-model="parentCategory">
                                <option value="">Choose Parent Category</option>
                                <option ng-repeat="item in categories" value="{{item.id}}">{{item.title}}</option>
                            </select>
                            <!--<input type="number" class="form-control" id="inputPassword3" placeholder="Age" ng-model="age">-->
                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" ng-click="addCategory()" class="btn btn-success">Add Category</button>
                <button type="button" ng-click="close()" class="btn btn-default">Cancel</button>
            </div>
        </div>
    </div>
</div>