<div class="container">
    <div class="row">
        <div class="col-md-4">
            <label for="category">Category</label>
            <select id="category" class="form-control">
                <option value="category_1">Category 1</option>
                <option value="category_2">Category 2</option>
                <option value="category_3">Category 3</option>
                <option value="category_4">Category 4</option>
            </select>
        </div>
        <div class="col-md-4">
            <label for="services">Services</label>
            <select id="services" class="form-control">
                <option value="service_1">Service 1</option>
                <option value="service_2">Service 2</option>
                <option value="service_3">Service 3</option>
                <option value="service_4">Service 4</option>
            </select>
        </div>
        <div class="col-md-4">
            <label for="employee">Employee</label>
            <select id="employee" class="form-control">
                <option value="employee_1">Employee 1</option>
                <option value="employee_2">Employee 2</option>
                <option value="employee_3">Employee 3</option>
                <option value="employee_4">Employee 4</option>
            </select>
        </div>
    </div>
</div>